@import url('https://fonts.cdnfonts.com/css/pretendo');
@import url('https://fonts.cdnfonts.com/css/urwclarendont?styles=18928,18929,18912,18914,18939');
@import url('https://fonts.cdnfonts.com/css/quicken?styles=120305,120306,120308,120316,120307,120310');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

:root {
    --primary-color: #2c5282;
    --secondary-color: #1a365d;
    --background-color: #f8f9fa;
    --text-color: #333;
    --border-color: #e2e8f0;
}


html, body, #root {
    height: 100%;
}
