@font-face {
    font-family: 'SST';
    src: url('../assets/fonts/SST.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendo';
    src: url('../assets/fonts/Pretendo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SEGA';
    src: url('../assets/fonts/SEGA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} 